@use './variables' as *;

body { 
    background-image: url(./../assets/newMovieCurtains.jpg); 
    background-size: cover; 
    background-repeat: repeat; 
}

.wrapper { 
    width: 70%; 
    max-width: 1200px; 
    background: #222;
    margin: 0 auto; 
    min-height: 100vh;
}

button { 
    outline: none; 
    background: $gold ; 
    border: none;
    padding: 10px 20px; 
    border-radius: 0.25em;
    margin: 0 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    p{
        margin: 0;
        padding: 10px;
    }
}