@use './variables' as *;

body { 
    background-image: url(./../assets/newMovieCurtains.jpg); 
    background-size: cover; 
    background-repeat: repeat; 
}

.wrapper { 
    width: 70%; 
    max-width: 1200px; 
    background: $black;
    margin: 0 auto; 
    min-height: 100vh;
}

.error-page { 
    display: none; 
    z-index: 100;
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
