@use './variables' as *;

header { 
    display: flex; 
    justify-content: center;

} 

.stage { 
    display: flex; 
    justify-content: center;
    margin: auto 0; 
    padding: 50px;

    .movie-backdrop { 
        height: 100%; 
        width: 100%; 
        max-width: 750px; 
    } 
} 

.blur5{
    filter: blur(25px);
}

.blur4{
    filter: blur(15px);
}

.blur3{
    filter: blur(10px);
}

.blur2{
    filter: blur(5px);
}

.blur1{
    filter: blur(2px);
}

form { 
    display: flex; 
    justify-content: center;
} 

ul{
    color: $white;
    margin-left: 0 100px;
}

footer{
    margin-top: 250px;
    p{
        margin: 0;
    }
}
