/* fonts */ 
$heading-font: 'Limelight', sans-serif;  
$heading-font2: 'Cairo', sans-serif;
$body-font: 'Roboto', sans-serif;
/* site colors */ 
$gold: #f3ce13; 
$black: #222;
$white: #f7f7f7;

/* $blur5: filter: blur(25px);
$blur4: filter: blur(15px); 
$blur3: filter: blur(10px); 
$blur2: filter: blur(5px); 
$blur1: filter: blur(2px); */