html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* fonts */
/* site colors */
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #f7f7f7;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: #E50914;
  text-shadow: 6px 4px 0px #222;
  padding: 20px;
  letter-spacing: 3px;
}

h2,
h3 {
  font-family: "Cairo", sans-serif;
}

button {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.error-page p {
  font-size: 4rem;
}

body {
  background-image: url(./../assets/newMovieCurtains.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  background: #222;
  margin: 0 auto;
  min-height: 100vh;
}

.error-page {
  display: none;
  z-index: 100;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.info-button {
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  background: none;
  color: #f7f7f7;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.info-button:hover, .info-button:focus {
  opacity: 0.85;
}

.overlay {
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-modal {
  display: none;
  position: absolute;
  z-index: 150;
  background-color: #f7f7f7;
  color: #222;
  width: 300px;
  right: 40px;
  top: 15px;
  padding: 20px;
  text-align: left;
}

.close {
  color: #222;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.close:hover, .closefocus {
  opacity: 0.75;
}

.fade-in {
  -webkit-animation: fade-in 0.2s;
          animation: fade-in 0.2s;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s;
          animation: fade-out 0.2s;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
  padding: 50px;
}
.stage .movie-backdrop {
  height: 100%;
  width: 100%;
  max-width: 750px;
}

.reset {
  background: #f7f7f7;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.reset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #f3ce13;
  outline: none;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.reset:hover::before, .reset:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
  padding: 0 25px;
}

input {
  width: 375px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  color: #f7f7f7;
}
ul li {
  position: relative;
}
ul p {
  margin: 0;
  padding: 10px;
  background-color: #222;
}

.slide-animation {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.blur5 {
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

.blur4 {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: blur54 0.5s;
          animation: blur54 0.5s;
}
@-webkit-keyframes blur54 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes blur54 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

.blur3 {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-animation: blur43 0.5s;
          animation: blur43 0.5s;
}
@-webkit-keyframes blur43 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
@keyframes blur43 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

.blur2 {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-animation: blur32 0.5s;
          animation: blur32 0.5s;
}
@-webkit-keyframes blur32 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes blur32 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

.blur1 {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: blur21 0.5s;
          animation: blur21 0.5s;
}
@-webkit-keyframes blur21 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}
@keyframes blur21 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

.blur50 {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation: blur50 0.5s;
          animation: blur50 0.5s;
}
@-webkit-keyframes blur50 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes blur50 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.blur40 {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation: blur40 0.5s;
          animation: blur40 0.5s;
}
@-webkit-keyframes blur40 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes blur40 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.blur30 {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation: blur30 0.5s;
          animation: blur30 0.5s;
}
@-webkit-keyframes blur30 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes blur30 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.blur20 {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation: blur20 0.5s;
          animation: blur20 0.5s;
}
@-webkit-keyframes blur20 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes blur20 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.blur10 {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation: blur10 0.5s;
          animation: blur10 0.5s;
}
@-webkit-keyframes blur10 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes blur10 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

footer {
  margin-top: 250px;
}
footer p {
  margin: 0;
}

@media (max-width: 678px) {
  h1 {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  footer {
    margin-top: 30px;
  }
}
@media (max-width: 440px) {
  .stage {
    padding: 20px;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
}