html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* fonts */
/* site colors */
/* $blur5: filter: blur(25px);
$blur4: filter: blur(15px); 
$blur3: filter: blur(10px); 
$blur2: filter: blur(5px); 
$blur1: filter: blur(2px); */
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #f7f7f7;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-size: 4rem;
  color: #f3ce13;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "Cairo", sans-serif;
}

button {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}

body {
  background-image: url(./../assets/newMovieCurtains.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  background: #222;
  margin: 0 auto;
  min-height: 100vh;
}

button {
  background: #f7f7f7;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  /*   &::before { 
       content: ''; 
       position: absolute; 
       left: 0;
       bottom: -1px;
       right: 0; 
       height: 3px; 
       background-color: red; 
       transition: transform .2s ease-in-out; 
       transform: scaleX(0);
   } 

   &:hover::before, 
   &:focus::before { 
       transform: scaleX(1);
   }  */
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #f3ce13;
  outline: none;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
button:hover::before, button:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

input {
  width: 375px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
ul li {
  position: relative;
}
ul p {
  margin: 0;
  padding: 10px;
  background-color: #222;
}

.slide-animation {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  /* 
      66% {
          transform: translateY(50px);
      } */
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  /* 
      66% {
          transform: translateY(50px);
      } */
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
  padding: 50px;
}
.stage .movie-backdrop {
  height: 100%;
  width: 100%;
  max-width: 750px;
}

.blur5 {
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

.blur4 {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation-name: blur4;
          animation-name: blur4;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes blur4 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

@keyframes blur4 {
  0% {
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
.blur3 {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-animation-name: blur3;
          animation-name: blur3;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes blur3 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@keyframes blur3 {
  0% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
.blur2 {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-animation-name: blur2;
          animation-name: blur2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes blur2 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@keyframes blur2 {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
.blur1 {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation-name: blur1;
          animation-name: blur1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes blur1 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

@keyframes blur1 {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}
.blur0 {
  -webkit-animation-name: blur0;
          animation-name: blur0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes blur0 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur0 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

ul {
  color: #f7f7f7;
  margin-left: 0 100px;
}

footer {
  margin-top: 250px;
}
footer p {
  margin: 0;
}